@import url("https://fonts.googleapis.com/css?family=Varela+Round");

.qrcode-grid-container {
    display: grid;
    grid-template-columns: 0.1fr 0.2fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    grid-template-areas: "qrcode-icon qrcode-pincode" "qrcode qrcode" "qrcode qrcode";
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border: 4px solid #000000;
    padding: 6px;
    width: 80px;
    height: 110px;
}

.qrcode-pincode {
    width: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "qrcode-pincodeTop qrcode-pincodeTop qrcode-pincodeTop" "qrcode-pincodeBottom qrcode-pincodeBottom qrcode-pincodeBottom";
    grid-area: qrcode-pincode;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: bold;
}

.qrcode-pincodeTop {
    grid-area: qrcode-pincodeTop;
}

.qrcode-pincodeBottom {
    grid-area: qrcode-pincodeBottom;
}

.qrcode-icon {
    grid-area: qrcode-icon;
}

#qrcode-icon {
    height: 25px;
}

.qrcode {
    grid-area: qrcode;
}

#qrcode {
    width: 60px;
}